<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

<p><a href="#" target="detail" th:text="${root.name}" th:href="'detail.html#' + ${root.fullQualifiedName}">(root unit name)</a></p>
<ul>
	<li th:each="unit : ${root.subUnits}">
		<div th:replace="tree_item :: tree_item">
		...
		</div>
	</li>
</ul>

</body>
</html>