<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
ul, li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul
{
	margin-left: 1em;
}
</style>
</head>
<body>

<div>
	<span>
		<a href="#" target="detail" 
		   th:text="${root.name}" 
		   th:href="'detail.html#' + ${root.fullQualifiedName}">
			(root unit name)
		</a>
		<span th:unless="${root.getParams('sz').isEmpty()}">
			[ <a href="detail.html" target="detail">概要</a> |
			<a href="map.svg" target="detail" th:href="'..' + ${root.fullQualifiedName} + '/map.svg'">マップ</a> ]
		</span>
	</span>
	<ul>
		<li th:each="unit : ${root.subUnits}">
			<div th:replace="tree_item :: tree_item">
			...
			</div>
		</li>
	</ul>
</div>

</body>
</html>