<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

<!--/* 以下のDIV要素はtree.htmlからユニットのツリー要素をレンダリングするために呼び出される */-->
<div th:fragment="tree_item">
	<span>
		<a href="#" target="detail"
		   th:text="${unit.name}" 
		   th:href="'detail.html#' + ${tmplFunc.createRelativeFqn(unit)}">(unit name)</a>
		<span th:unless="${unit.getParams('sz').isEmpty()}">
			[ <a href="map.svg" target="detail" th:href="${tmplFunc.createMapPath(unit)}">マップ</a> ]
		</span>
	</span>
	<ul>
		<li th:each="unit : ${unit.subUnits}">
			<div th:replace="tree_item :: tree_item">
			(subunits here)</div>
		</li>
	</ul>
</div>
	
</body>
</html>